
<div th:fragment="footer" class="footer11">



  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style media="screen">
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body11{
      background: #fcfcfc;
      font-family: sans-serif;
    }
    footer11{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #111;
      height: auto;
      width: 100vw;

      padding-top: 40px;
      color: #fff;
    }
    .footer-content11{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .footer-content11 h3{
      font-size: 2.1rem;
      font-weight: 500;
      text-transform: capitalize;
      line-height: 3rem;
    }
    .footer-content11 p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
      color: #cacdd2;
    }
    .socials11{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
    }
    .socials11 li{
      margin: 0 10px;
    }
    .socials11 a{
      text-decoration: none;
      color: #fff;
      border: 1.1px solid white;
      padding: 5px;

      border-radius: 50%;

    }
    .socials11 a i{
      font-size: 1.1rem;
      width: 20px;


      transition: color .4s ease;

    }
    .socials11 a:hover i{
      color: aqua;
    }

    .footer-bottom11{
      background: #283144;
      width: 100vw;
      padding: 10px;
      padding-bottom: 40px;
      text-align: center;
    }
    .footer-bottom11 p{
      float: left;
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
    }
    .footer-bottom11 p a{
      color:#44bae8;
      font-size: 16px;
      text-decoration: none;
    }
    .footer-bottom11 span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
    }
    .footer-menu11{
      float: right;

    }
    .footer-menu11 ul{
      display: flex;
    }
    .footer-menu11 ul li{
      padding-right: 10px;
      display: block;
    }
    .footer-menu11 ul li a{
      color: #cfd2d6;
      text-decoration: none;
    }
    .footer-menu11 ul li a:hover{
      color: #27bcda;
    }
  </style>
  <body class="body11">
    <div class="footer-bottom11">
      <h3>O'zTTBRM</h3>
      <ul class="socials11">
        <li><a href="https://www.facebook.com/%D0%8E%D0%B7%D0%A2%D0%A2%D0%91%D0%A0%D0%9C-%D0%94%D0%A3%D0%9A-109817511787102" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://instagram.com/tbm.uz?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://rtmc.uz/" target="_blank"><i class="fa fa-globe"></i></a></li>
        <li><a href="https://t.me/yangilikrtmc" target="_blank"><i class="fa fa-telegram"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom11">
      <p>copyright &copy;</p>
      <div class="footer-menu11">
        <ul class="f-menu">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </div>
  </body>



  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script th:src="@{/admin-assets/vendor/libs/jquery/jquery.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/popper/popper.js}"></script>
  <script th:src="@{/admin-assets/vendor/js/bootstrap.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

  <script th:src="@{/admin-assets/vendor/libs/hammer/hammer.js}"></script>


  <script th:src="@{/admin-assets/vendor/libs/i18n/i18n.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/typeahead-js/typeahead.js}"></script>

  <script th:src="@{/admin-assets/vendor/js/menu.js}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script th:src="@{/admin-assets/vendor/libs/apex-charts/apexcharts.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables/jquery.dataTables.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-responsive/datatables.responsive.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-buttons/datatables-buttons.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/jszip/jszip.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/pdfmake/pdfmake.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-buttons/buttons.html5.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-buttons/buttons.print.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/cleavejs/cleave.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/cleavejs/cleave-phone.js}"></script>
  <script th:src="@{admin-assets/vendor/libs/select2/select2.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/toastr/toastr.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/jquery-repeater/jquery-repeater.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/autosize/autosize.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/quill/katex.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/quill/quill.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/bootstrap-select/bootstrap-select.js}"></script>


  <!-- Flat Picker -->
  <script th:src="@{/admin-assets/vendor/libs/moment/moment.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/flatpickr/flatpickr.js}"></script>
  <!-- Row Group JS -->
  <script th:src="@{/admin-assets/vendor/libs/datatables-rowgroup/datatables.rowgroup.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.js}"></script>
  <!-- Form Validation -->
  <script th:src="@{/admin-assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
  <script th:src="@{/admin-assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>

  <!-- Main JS -->
  <script th:src="@{/admin-assets/js/main.js}"></script>

  <!-- Page JS -->
  <script th:src="@{/admin-assets/js/dashboards-analytics.js}"></script>
  <script th:src="@{/admin-assets/js/tables-datatables-basic.js}"></script>
  <script th:src="@{admin-assets/js/modal-edit-user.js}"></script>
  <script th:src="@{/admin-assets/js/ui-toasts.js}"></script>
  <script th:src="@{/admin-assets/js/forms-extras.js}"></script>
  <script th:src="@{/admin-assets/js/forms-editors.js}"></script>
  <script th:src="@{/admin-assets/js/forms-selects.js}"></script>

  <script>
    const img = document.querySelector('#uploadedImage');
    const file = document.querySelector('#upload');

    file.addEventListener('change', function () {
      // this refers to the file
      const choosedFile = this.files[0];

      if (choosedFile) {
        const reader = new FileReader();

        reader.addEventListener('load', function () {
          img.setAttribute('src', reader.result);
        });

        reader.readAsDataURL(choosedFile);
      }

    });
  </script>


</div>