<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


    <!-- ===============  navbar start =============== -->
    <header>
        <div class="header-area header-defult header_style__two bg-body">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-2 col-lg-3 col-md-2 col-2 align-items-center d-flex order-0">
                        <div class="nav-logo logo-switch d-flex justify-content-between align-items-center">
                            <a class="logo-dark" href="/static"><img src="/images/img.png" width="40px"
                                                                     alt="logo"></a>
                            <a class="logo-light" href="/static"><img src="/images/img.png" width="40px"
                                                                     alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-10 col-lg-9 d-flex justify-content-end">
                        <nav class="main-nav mr-2">
                            <ul>
                                <li>
                                    <div class="nav-search-style-two w-100 d-xl-block d-none">
                                        <form action="/client-search">
                            <span class="search__icon">
                                <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.26847 16.0378C12.2827 16.0378 15.5369 12.7834 15.5369 8.7689C15.5369 4.7544 12.2827 1.5 8.26847 1.5C4.2542 1.5 1 4.7544 1 8.7689C1 12.7834 4.2542 16.0378 8.26847 16.0378Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path d="M17.0002 17.5L13.4023 13.9025" stroke="currentColor" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                            </span>
                                            <input type="text" name="search" th:placeholder="qidirish" id="myInput"
                                                   onkeyup="myFunction()">
                                        </form>
                                    </div>
                                </li>
                                <li><a href="/" th:text="Home"></a></li>
                            </ul>
                        </nav>
                        <div class="nav-actions d-flex align-items-center">
                            <label class="theme-switch-one style__two">
                                <input type="checkbox" id="slider" class="slider-light check-status">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ===============  navbar end =============== -->
</div>
