<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr" data-theme="theme-default" data-assets-path="admin-assets/"
      data-template="vertical-menu-template" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/header :: header"></head>

<body>
<div>
            <!-- NAVBAR -->
            <nav th:replace="layouts/navbar :: navbar"></nav>
            <!-- /NAVBAR -->

            <!-- Content wrapper -->
            <div class="content-wrapper">

                <div class="container-xxl flex-grow-1 container-p-y">

                    <h4 class="py-3 breadcrumb-wrapper mb-4">
                        <span class="text-muted fw-light">Shartnomalar </span>
                    </h4>


                    <div class="card">
                        <div class="row justify-content-around align-items-center p-4">
                            <div class="col-md-6">
                                <h5 style="float: left">Topics</h5>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary justify-content-around"
                                        style="float: right"
                                        data-bs-toggle="modal"
                                        data-bs-target="#addNewType">
                                    Add New Type
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Count</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr th:each="type, loop : ${types}">

                                    <td><strong th:text="${loop.index+1}"></strong></td>
                                    <td><a th:href="@{'/con/by-type/' + ${type.getId()}}">[[${type.getName()}]]</a></td>
                                    <td th:text="${type.count}"> </td>
                                    <td>
                                        <button type="button" class="btn btn-icon me-2 btn-label-primary"
                                                data-bs-toggle="modal"
                                                th:attr="data-bs-target='#editTopic'+${type.id}">
                                            <span class="tf-icons bx bx-edit"></span>
                                        </button>

                                        <a th:href="@{/type/delete/__${type.id}__}">
                                            <button onclick="return confirm('Are you sure to delete this topic?')"
                                                    type="button" class="btn btn-icon me-2 btn-label-warning">
                                                <span class="tf-icons bx bx-trash"></span>
                                            </button>
                                        </a>
                                    </td>

                                    <!-- EDIT MODAL -->
                                    <div class="modal fade" th:id="'editTopic'+${type.id}" tabindex="-1"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                                            <div class="modal-content p-3 p-md-5">
                                                <div class="modal-body">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                    </button>
                                                    <div class="text-center mb-4">
                                                        <h3>Edit Type</h3>
                                                    </div>
                                                    <form id="userForm" class="row g-3" method="post"
                                                          th:action="@{/type/edit-finish}">

                                                        <input hidden th:value="${type.id}" name="id">
                                                        <div class="row">
                                                            <div class="col-12 ">
                                                                <label class="form-label">Name</label>
                                                                <input type="text" name="name"
                                                                       class="form-control"
                                                                       placeholder="ex. Entertainment" th:value="${type.name}" required/>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 text-center mt-4">
                                                            <button type="submit"
                                                                    class="btn btn-primary me-sm-3 me-1">
                                                                Submit
                                                            </button>
                                                            <button type="reset" class="btn btn-label-secondary"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close">Cancel
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END EDIT MODAL -->

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- NEW USER MODAL-->

                    <div class="modal fade" th:id="addNewType" tabindex="-1"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                            <div class="modal-content p-3 p-md-5">
                                <div class="modal-body">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                    </button>
                                    <div class="text-center mb-4">
                                        <h3>Add New Type</h3>
                                    </div>
                                    <form class="row g-3" method="post" th:action="@{/type/add-type}" th:object="${type}">
                                        <div class="row">
                                            <div class="col-12 ">
                                                <label class="form-label">Name</label>
                                                <label>
                                                    <input type="text" name="name" class="form-control" th:field="*{name}"
                                                           placeholder="ex. Entertainment" required/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center mt-4">
                                            <button type="submit" class="btn btn-primary me-sm-3 me-1">
                                                Submit
                                            </button>
                                            <button type="reset" class="btn btn-label-secondary"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close">Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END NEW USER MODAL-->

                </div>
            </div>
            <!-- Content wrapper -->
</div>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>
