<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr" data-theme="theme-default" data-assets-path="admin-assets/"
      data-template="vertical-menu-template" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/header :: header"></head>

<body>
<div>
    <!-- NAVBAR -->
    <nav th:replace="layouts/navbar :: navbar"></nav>
    <!-- /NAVBAR -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <div class="row justify-content-around align-items-center p-4">
                    <div class="col-md-6">
                        <h5 style="float: left">Shartnoma turlari</h5>
                    </div>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover" id="myTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nomi</th>
                            <th>Soni</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        <tr th:each="type, loop : ${types}">

                            <td><strong th:text="${loop.index+1}"></strong></td>
                            <td><a th:href="@{'/client/by-type/' + ${type.getId()}}">[[${type.getName()}]]</a></td>
                            <td th:text="${type.count}"></td>
                            <td>
                                <button type="button" class="btn btn-icon me-2 btn-label-primary"><a th:href="@{'/client/by-type/' + ${type.getId()}}">
                                    <span class="tf-icons bx bx-arrow-to-right"></span></a>
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper -->
</div>
<div th:replace="layouts/footer :: footer"></div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>
