<!doctype html>
<html lang="en">

<head th:replace="client/layouts/header::header"></head>

<body class="theme-light-active" id="activeTheme">

<div th:replace="client/layouts/navbar::navbar"></div>


<!-- ===============  breadcrumb style start =============== -->
<div class="breadcrumb_style__one bg-body-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="page__title">Items</h2>
            </div>
        </div>
    </div>
</div>
<!-- ===============  breadcrumb style end =============== -->

<!-- ===============  nft gird style one start =============== -->
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover" id="myTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Count</th>
                    <!--              <th>Actions</th>-->
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr th:each="type, loop : ${types}">

                    <td><strong th:text="${loop.index+1}"></strong></td>
                    <td><a th:href="@{'/client/by-type/' + ${type.getId()}}">[[${type.getName()}]]</a></td>
                    <td th:text="${type.count}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- ===============  nft gird style one end =============== -->


<div th:replace="client/layouts/footer::footer"></div>
</body>
</html>