<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr" data-theme="theme-default" data-assets-path="admin-assets/"
      data-template="vertical-menu-template" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/layouts/header :: header"></head>

<body>
<div>
  <!-- NAVBAR -->
<!--  <nav th:replace="client/layouts/navbar :: navbar"></nav>-->
  <!-- /NAVBAR -->

  <!-- Content wrapper -->
  <div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

<!--      <h4 class="py-3 breadcrumb-wrapper mb-4">-->
<!--        <span class="text-muted fw-light">Shartnomalar </span>-->
<!--      </h4>-->


      <div class="card">
        <div class="row justify-content-around align-items-center p-4">
          <div class="col-md-12">
            <h5 style="float: left">Shartnoma turlari</h5>
          </div>
<!--          <div class="col-md-6">-->
<!--            <button class="btn btn-primary justify-content-around"-->
<!--                    style="float: right"-->
<!--                    data-bs-toggle="modal"-->
<!--                    data-bs-target="#addNewType">-->
<!--              Add New Type-->
<!--            </button>-->
<!--          </div>-->
        </div>

        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Count</th>
<!--              <th>Actions</th>-->
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr th:each="type, loop : ${types}">

              <td><strong th:text="${loop.index+1}"></strong></td>
              <td><a th:href="@{'/con/by-type/' + ${type.getId()}}">[[${type.getName()}]]</a></td>
              <td th:text="${type.count}"> </td>
<!--              <td>-->
<!--                <button type="button" class="btn btn-icon me-2 btn-label-primary"-->
<!--                        data-bs-toggle="modal"-->
<!--                        th:attr="data-bs-target='#editTopic'+${type.id}">-->
<!--                  <span class="tf-icons bx bx-edit"></span>-->
<!--                </button>-->

<!--                <a th:href="@{/type/delete/__${type.id}__}">-->
<!--                  <button onclick="return confirm('Are you sure to delete this topic?')"-->
<!--                          type="button" class="btn btn-icon me-2 btn-label-warning">-->
<!--                    <span class="tf-icons bx bx-trash"></span>-->
<!--                  </button>-->
<!--                </a>-->
<!--              </td>-->


            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div th:replace="client/layouts/footer :: footer"></div>
</div>

</body>
</html>
