<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contract Edit Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <br>
  <br>
  <form class="form-sample" method="post" th:action="@{/con/edit-finish}" th:object="${dto}">
    <div class="input-group mb-3">
      <span class="input-group-text">Contract</span>
      <input type="text" class="form-control" th:value="${dto.getName()}">
      <input type="text" class="form-control" th:value="${dto.getDebt()}">
    </div>
<!--    <div class="mb-3">-->
<!--      <label for="exampleInput1" class="form-label">Shartnoma nomini kiriting</label>-->
<!--      <input type="text" class="form-control" id="exampleInput1" aria-describedby="Help" th:field="*{name}">-->
<!--      <input type="text" class="form-control" th:field="*{type}" th:value="${typeID}" hidden>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="exampleInput" class="form-label">Qarzdorlik</label>-->
<!--      <input type="text" class="form-control" id="exampleInput" th:field="*{debt}">-->
<!--    </div>-->
    <div class="input-group mb-3">
      <div class="input-group-text">
        <div th:unless="${dto.getJanuary() == 1}">
          <input class="form-check-input mt-0" type="checkbox" value="1" aria-label="Checkbox for following text input" th:field="*{january}" disabled>
        </div>
        <div th:if="${dto.getJanuary() == 1}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getJanuary()}" value="1" aria-label="Checkbox for following text input" th:field="*{january}" checked disabled>
        </div>
        <label> Yanvar</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getFebruary() == 2}">
          <input class="form-check-input mt-0" type="checkbox" value="2" aria-label="Checkbox for following text input" th:field="*{february}" disabled>
        </div>
        <div th:if="${dto.getFebruary() == 2}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getFebruary()}" value="2" aria-label="Checkbox for following text input" th:field="*{february}" checked disabled>
        </div>
        <label> Fevral</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getMarch() == 3}">
          <input class="form-check-input mt-0" type="checkbox" value="3" aria-label="Checkbox for following text input" th:field="*{march}" disabled>
        </div>
        <div th:if="${dto.getMarch() == 3}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getMarch()}" aria-label="Checkbox for following text input" th:field="*{march}" checked disabled>
        </div>
        <label> Mart</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getApril() == 4}">
          <input class="form-check-input mt-0" type="checkbox" value="4" aria-label="Checkbox for following text input" th:field="*{april}" disabled>
        </div>
        <div th:if="${dto.getApril() == 4}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getApril()}" aria-label="Checkbox for following text input" th:field="*{april}" checked disabled>
        </div>
        <label> Aprel</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getMay() == 5}">
          <input class="form-check-input mt-0" type="checkbox" value="5" aria-label="Checkbox for following text input" th:field="*{may}" disabled>
        </div>
        <div th:if="${dto.getMay() == 5}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getMay()}" aria-label="Checkbox for following text input" th:field="*{may}" checked disabled>
        </div>
        <label> May</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getJune() == 6}">
          <input class="form-check-input mt-0" type="checkbox" value="6" aria-label="Checkbox for following text input" th:field="*{june}" disabled>
        </div>
        <div th:if="${dto.getJune() == 6}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getJune()}" aria-label="Checkbox for following text input" th:field="*{june}" checked disabled>
        </div>
        <label> Iyun</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getJuly() == 7}">
          <input class="form-check-input mt-0" type="checkbox" value="7" aria-label="Checkbox for following text input" th:field="*{july}" disabled>
        </div>
        <div th:if="${dto.getJuly() == 7}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getJuly()}" aria-label="Checkbox for following text input" th:field="*{july}" checked disabled>
        </div>
        <label> Iyul</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getAugust() == 8}">
          <input class="form-check-input mt-0" type="checkbox" value="8" aria-label="Checkbox for following text input" th:field="*{august}" disabled>
        </div>
        <div th:if="${dto.getAugust() == 8}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getAugust()}" aria-label="Checkbox for following text input" th:field="*{august}" checked disabled>
        </div>
        <label> Avgust</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getSeptember() == 9}">
          <input class="form-check-input mt-0" type="checkbox" value="9" aria-label="Checkbox for following text input" th:field="*{september}" disabled>
        </div>
        <div th:if="${dto.getSeptember() == 9}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getSeptember()}" aria-label="Checkbox for following text input" th:field="*{september}" checked disabled>
        </div>
        <label> Sentabr</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getOctober() == 10}">
          <input class="form-check-input mt-0" type="checkbox" value="10" aria-label="Checkbox for following text input" th:field="*{october}" disabled>
        </div>
        <div th:if="${dto.getOctober() == 10}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getOctober()}" aria-label="Checkbox for following text input" th:field="*{october}" checked disabled>
        </div>
        <label> Oktabr</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getNovember() == 11}">
          <input class="form-check-input mt-0" type="checkbox" value="11" aria-label="Checkbox for following text input" th:field="*{november}" disabled>
        </div>
        <div th:if="${dto.getNovember() == 11}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getNovember()}" aria-label="Checkbox for following text input" th:field="*{november}" checked disabled>
        </div>
        <label> Noyabr</label><br>
      </div>
      <div class="input-group-text">
        <div th:unless="${dto.getDecember() == 12}">
          <input class="form-check-input mt-0" type="checkbox" value="12" aria-label="Checkbox for following text input" th:field="*{december}" disabled>
        </div>
        <div th:if="${dto.getDecember() == 12}">
          <input class="form-check-input mt-0" type="checkbox" th:value="${dto.getDecember()}" aria-label="Checkbox for following text input" th:field="*{december}" checked disabled>
        </div>
        <label> Dekabr</label><br>
      </div>
    </div>
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
  </form>
</div>
</body>
</html>



